{
  "honeypot": {
    "port": 8080,
    "banDurationMs": 30e4
  },
  "integrations": [
    {
      "name": "HoneypotSshServerIntegration",
      "config": {
        "port": 422,
        "banDurationMs": 1e4
      }
    },
    {
      "name": "HoneypotSshServerIntegration"
    }
  ]
}
